{% extends 'base.haml' %}
{% block container %}
.container-fluid
  #result-row.row-fluid
    .span3.left-column
      %p
        %strong Search Query
      %form#searchForm.form-inline
        .control-group
          %input.input-block-level{:type => "text", :name => "eventName", :placeholder => "Event Name"}
        .control-group
          %input.input-block-level{:type => "text", :name => "eventCategory", :placeholder => "Category"}
        .control-group
          %input.input-block-level.datepicker{:type => "text", :name => "eventStartDate", :data-date-format => "dd/mm/yyyy", :placeholder => "Start Date (dd/mm/YYYY)"}
        .control-group
          %input.input-block-level.datepicker{:type => "text", :name => "eventEndDate", :data-date-format => "dd/mm/yyyy", :placeholder => 'End Date (dd/mm/YYYY)'}
        %button.btn.btn-primary{:type => "submit"}
          %i.icon-search.icon-white
          Search
        %input.btn{:type => "reset", :value => "Reset"} 
      %p
        %strong Search Results
      #searchResults
    #map.span9
{% endblock %}